<h1>Stupid coaching</h1>
<div class="your_question">
  <p><em><%= params[:question] %></em> <br> <strong> - You</strong> </p>
</div>
<div class="coach_answer">
  <p><em><%= @answer %></em> <br> <strong>- Your coach</strong> </p>
</div>
<div class="new_question">
  <%= link_to "Ask a new question", ask_path %>
</div>
